*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
background-color: white;
width: 1000px;
margin-left: 750px;
}

.header{
    display: flex;
    justify-content:space-evenly;
    background-color:#3e54a3;
    margin-top: 100px;
    
    
}

.image{
     border-radius: 10px;
     display: flex;
     padding-top: 10px;
}

img{
    margin-top: 10px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
}

.about{
    display: flex;
    width: 900px;
    border-radius: 100px;
    word-wrap: break-word;
    padding-left: 100px;
    align-items: center;
    
}

.aboutme{
    flex: 1;
    align-items: center;
    padding-right: 50px;
}

.umur{
    flex-direction: column;
    flex: 1;
}






















